@page
@model IndexModel
@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>欢迎来到等灯云的服务工单！</h3>
    <a href="/DDS/RegisterEveryoneServer" style="">
        <button>共享云注册</button>
    </a>
    <a href="/DDS/Help/UserHelp">
        <button>等灯云帮助页面</button>    
    </a>
    <a href="/DDS/Docs/DDSDocs">
        <button>文档</button>
    </a>
</div>
