@page
@model UserHelpModel
@{
    ViewData["Title"] = "等灯云 - 帮助页面";
}

<div class="text-center">
    <h1>等灯云 帮助页面</h1>
    <a href="/DDS/Help/InquireUserRegister">
        <button>查询用户审核进度</button>
    </a>
</div>
