@page
@model Round.NET.WebServer.Pages.DDS.DDSListModel
@{
    ViewData["Title"] = "等灯云功能列表";
}

<div class="text-center">
    <h1>等灯云服务列表</h1>
    <a href="/DDS/RegisterEveryoneServer" style="">
        <button>共享云注册</button>
    </a>
    <a href="/DDS/Help/UserHelp">
        <button>等灯云帮助页面</button>
    </a>
    <a href="/DDS/Docs/DDSDocs">
        <button>文档</button>
    </a>
</div>
